:root {
  --primary-color: #114b5f;
  --secondary-color: #1a936f;
  --accent1-color: #88d498;
  --accent2-color: #c6dabf;
  --accent3-color: #f3e9d2;

  --heading-font: "Crimson Text", serif;
  --paragraph-font: "Old Standard TT", sans-serif;

  --headline-color-on-white: #1a936f;
  /* headlines on a white background */
  --headline-color-on-color: #c6dabf;
  /* headlines on a colored background */
  --paragraph-color-on-white: #1a936f;
  /* paragraph text on a white background */
  --paragraph-color-on-color: #c6dabf;
  /* paragraph text on a colored background */
  --paragraph-background-color: #114b5f;
  --nav-link-color: white;
  --nav-background-color: #17795c;
  --nav-hover-link-color: #114b5f;
  --nav-hover-background-color: #c6dabf;
}

html {
  background-color: var(--primary-color);
}

body {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}

#banner {
  background-color: rgb(0, 0, 0);
  color: black;
  z-index: 11;
  position: sticky;
  width: 99%;
  text-align: center;
  padding: .1rem;
}

#banner p {
  color: white;
}

#banner span {
  font-weight: 700;
  float: right;
  margin-right: 1rem;
}

nav {
  background-color: var(--nav-background-color);
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.11fr;
  grid-gap: 1rem;
  padding: 1rem;
}

nav ul {
  display: none;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  /* display: block; */
  margin: 1rem;
  padding: 0;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
  /* display: block; */
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

#nav-logo {
  height: auto;
  grid-area: logo;
  margin-left: 1rem;
  margin-top: 1%;
  width: 100%;
  float: left;
  grid-column: 1/2;
  grid-row: 1/2;
}

#hamburger {
  display: block;
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: end;
  padding-right: 1rem;
  align-self: center;
}

#close-button {
  display: none;
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: end;
  padding-right: 1rem;
  align-self: center;
}

#weather {
  grid-row: 2/3;
  grid-column: 1/3;
  color: white;
}

#weather p {
  color: var(--nav-link-color);
}

#forecast {
  grid-area: forecast;
  background-color: var(--nav-background-color);
  margin-right: 1rem;
}

header {
  background-color: var(--paragraph-background-color);
  padding: 1rem;
  text-align: center;
}

.hero {
  background-image: url("../images/hiking.webp");
}

.hero-content {
  background-color: #000000b6;
  z-index: 1;
  padding: 1rem;
  color: white;
  margin: 0 auto;
}

#members {
  /* Grid with 1 row and 4 columns spaced out equally */
  /* Top row will just be heading */
  /* Bottom row will be 4 members */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;
  justify-items: center;
}

#member-heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 2rem;
}

.member {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "team-member-image"
    "team-member-name"
    "team-member-position";
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;
  height: 20rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.273);
  width: 20em;
  border-radius: 10%;
}

.member img {
  border-radius: 50%;
  grid-area: team-member-image;
  justify-self: center;
  width: 50%;
  height: auto;
}

.member h2 {
  grid-area: team-member-name;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--accent3-color);
}

.member p {
  grid-area: team-member-position;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--accent2-color);
}


.events {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;
  height: 100%;
  background-image: url(../images/Placeholder1441x320.webp);
  background-size: cover;
}

.events img {
  width: 100%;
  grid-area: 1/1/4/2;
}

.event-content {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.164);
  z-index: 2;
  padding: 1rem;
  margin-top: 0;
}

.event-content h2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.event-description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  font-size: 1rem;
}

.event-details {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: center;
  font-size: 1rem;
}

.event-button {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  text-align: center;
  font-size: 1rem;
}

.team {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "team-member-1 "
    "team-member-2" "team-member-3";
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;
  justify-items: center;
}

.team-member {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "team-member-image"
    "team-member-name"
    "team-member-position";
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;
  height: 20rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.273);
  width: 20em;
  border-radius: 10%;
}

.team-member img {
  border-radius: 50%;
  grid-area: team-member-image;
  justify-self: center;
}

.team-member h2 {
  grid-area: team-member-name;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--accent3-color);
}

.team-member p {
  grid-area: team-member-position;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--accent2-color);
}

#team-member-1 {
  grid-area: team-member-1;
}

#team-member-2 {
  grid-area: team-member-2;
}

#team-member-3 {
  grid-area: team-member-3;
}

footer {
  background-color: var(--nav-background-color);
  color: white;
  text-align: center;
  margin-top: 3rem;
  justify-items: center;
  padding: 1rem;
}

footer p {
  color: white;
}

footer a {
  color: var(--nav-link-color);
}

.footer-end {
  color: rgb(221, 255, 152);
}

.mobileMenu {
  display: block;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

/* Start of CSS Unique to the Discover */

#discover {
  background-color: #fff;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
}

#sidebar-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-gap: 10px;
  grid-template-areas:
    "main"
    "sidebar1";
  text-align: center;
}

#sidebar {
  grid-area: sidebar1;
  color: #fff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  border-color: var(--accent1-color);
  border-style: solid;
  height: auto;
  grid-row: 2 / 3;
}

#days-between,
#last-date {
  color: aquamarine;
}

#detailed-events {
  grid-area: main;
  color: #fff;
  padding-top: 2rem;
  margin: 1rem;

  border-radius: 10px;
  border-color: var(--accent1-color);
  border-style: solid;
  grid-row: 1/2;
}

.local-interest img {
  width: 50%;
  height: auto;
  border-radius: 10%;
}

.local-interest img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 10px var(--nav-link-color);
}

/* Start of CSS for join.html page */
.joinForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.4fr;
  grid-template-areas:
    "header"
    "form"
    "table";
  grid-gap: 1rem;
  padding: 1rem;
  justify-items: center;

}

.joinForm form {
  border: 1px solid #445ba9;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #445ba9;
  grid-area: form;
  max-width: 25rem;
  width: 100%;
}

.joinForm h2 {
  grid-area: header;
  font-size: 2rem;
  color: white;
}


form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 25rem;
  background-color: rgba(7, 7, 7, 0.247);
}

form legend {
  color: white;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: white;
  font-size: 0.8rem;
}

form label.top input,
form label.top select {
  --webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px grey;
  border-radius: 4px;
  padding: 0.75rem;
  color: white;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: White;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: #fff;
  border-radius: 1rem;
  padding: 0.75rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 30rem;
}

form label.top input:required {
  border-left: 6px solid red;
}

form label.top input:required:valid {
  border-left: 6px solid rgb(0, 255, 0);
}

form label.top input:focus {
  outline: 3px solid #9757ffa3;
}

form textarea {
  --webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px grey;
  border-radius: 4px;
  padding: 0.75rem;
  color: white;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.memberLevels {
  background-color: rgba(7, 7, 7, 0.247);
  text-align: center;
  border: 1px solid #445ba9;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 25rem;
  grid-area: table;
  height: 100%;
}

.memberLevels h3 {
  color: white;
}

.memberLevels table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8rem;
  text-align: left;
  color: white;

}

.memberLevels th,
.memberLevels td {
  padding: 0.5rem;
  border: 1px solid var(--accent3-color);
}

.memberLevels th {
  background-color: #445ba9;
  color: white;
}

.memberLevels tr:nth-child(even) {
  background-color: #445ba9;
}

.memberLevels table caption {
  font-weight: bold;
  padding: 0.5rem;
  caption-side: bottom;
}

/* Thank You Page CSS */

.thankYou h2 {

  color: white;
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
}

.thankYou p {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

/* Directory Page CSS */

.btn {
  background-color: var(--accent1-color);
  color: white;
  border: black 1px solid;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  grid-area: btn;
}

.btn:hover,
.active {
  background-color: var(--accent2-color);
}

.directory {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    "header header"
    "btn btn";
  grid-gap: 1rem;
  padding: 1rem;
  justify-items: center;
}

.directory h1 {
  grid-area: header;
  font-size: 2rem;
  color: white
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  text-align: center;
  justify-items: center;
}

.grid a {
  color: rgb(0, 217, 255);
}

.company-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.273);
  max-width: 20rem;
  width: 100%;
  border-radius: 10%;
  padding: 1rem;
  margin: 1rem;
}

.company-logo img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.company-info {
  color: white;
}

.list .company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.5rem;
  background-color: #fff;
  color: black;

}

.list h3 {
  color: black;
}

.list section:nth-child(even) {
  background-color: rgb(221, 221, 221);
}