/* Overwrite base.css when width is more that 800px */
@media screen and (min-width: 800px) {
  nav {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem;
    grid-template-areas: "logo nav weather";
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    min-width: 100%;
    height: 5rem;
  }

  #hamburger {
    display: none;
  }

  #close-button {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1em;
    display: block;
  }

  #nav-logo {
    padding-top: 5rem;
    height: auto;
    z-index: 1;
    grid-area: logo;
    width: 10rem;
    top: 0;
    justify-self: start;
  }

  #weather {
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
    display: grid;
    grid-template-columns: 5rem 5rem;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "weather-icon weather-info"
      "weather-desc weather-desc";
  }

  #weather-icon {
    grid-area: weather-icon;
    justify-self: center;
    align-self: center;
    display: inline;
    justify-self: end;
  }

  #weather-info {
    grid-area: weather-info;
    justify-self: center;
    align-self: center;
    display: inline;
    font-size: 1rem;
    font-weight: 700;
    color: white;
  }

  #weather-desc {
    grid-area: weather-desc;
    justify-self: center;
    align-self: center;
    display: inline;
    font-size: 1rem;
    font-weight: 700;
  }


  .hero-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 4fr 1fr 0.2fr;
    grid-template-areas:
      "blank"
      "hero-header"
      "hero-text"
      "hero-button"
      "hero-tabs";
    margin-top: 5rem;
    justify-items: center;
    align-items: center;
  }

  .hero-content h1 {
    grid-area: hero-header;
    font-size: 3rem;
    font-weight: 700;
    color: var(--hero-header-color);
    margin: 0;
    padding: 0;
  }

  .hero-content p {
    grid-area: hero-text;
  }

  .hero-content a {
    grid-area: hero-button;
  }

  #members {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-gap: 1rem;
    padding: 1rem;
  }

  #member-heading {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2rem;
  }

  .member {
    /* Grid with 2 rows and 1 column */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
    padding: 1rem;
    text-align: center;
    background-image: none;
  }

  .member img {
    width: 100%;
    height: 15rem;
    grid-area: 1/1/4/2;
    z-index: 1;
    visibility: visible;
  }

  .member h2 {
    grid-area: 1/1/2/2;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    z-index: 2;
    color: black;
  }

  .member p {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    z-index: 2;
    color: black;
  }

  .member a {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem;
    z-index: 2;
    color: black;
  }

  .member-content {
    grid-area: 3/1/4/2;
    background-color: #6ac6e551;
    z-index: 2;
    padding: 1rem;
  }

  #member-tabs {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    text-align: center;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
    height: 20rem;
  }

  .events img {
    width: 100%;
    height: 20rem;
    grid-area: 1/1/4/2;
  }

  .event-content {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #6ac6e551;
    z-index: 2;
  }

  .event-content h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2rem;
    color: black;
  }

  .event-description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 1rem;
  }

  .event-details {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    font-size: 1rem;
  }

  .event-button {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    text-align: center;
    font-size: 1rem;
  }

  .team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "team-member-1 team-member-2 team-member-3";
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
    justify-items: center;
    height: 20rem;
  }

  .team-member {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "team-member-image"
      "team-member-name"
      "team-member-position";
    grid-gap: 1rem;
    padding: 1rem;
    text-align: center;
    height: 20rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.273);
    width: 20em;
    border-radius: 10%;
  }

  .team-member img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    grid-area: team-member-image;
    justify-self: center;
  }

  .team-member h2 {
    grid-area: team-member-name;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--accent3-color);
  }

  .team-member p {
    grid-area: team-member-position;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--accent2-color);
  }

  #team-member-1 {
    grid-area: team-member-1;
  }

  #team-member-2 {
    grid-area: team-member-2;
  }

  #team-member-3 {
    grid-area: team-member-3;
  }

  footer {
    background-color: var(--nav-background-color);
    color: white;
    text-align: center;
    margin-top: 3rem;
    justify-items: center;
    padding: 1rem;
  }

  footer a {
    color: white;
  }

  footer p {
    color: white;
  }

  #footer-end {
    color: rgb(221, 255, 152);
  }

  /* Start of CSS Unique to the Discover */

  #discover {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
  }

  #sidebar-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.35fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "sidebar1 main";
    text-align: center;
  }

  #sidebar {
    grid-area: sidebar1;
    color: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    border-color: var(--accent1-color);
    border-style: solid;
    position: sticky;
    top: 25%;
    height: auto;
    grid-row: 1 / 2;
  }

  #days-between,
  #last-date {
    color: aquamarine;
  }

  #detailed-events {
    grid-area: main;
    color: #fff;
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    border-color: var(--accent1-color);
    border-style: solid;
    grid-row: 1/3;
  }

  .local-interest img {
    width: 50%;
    height: auto;
    border-radius: 10%;
  }

  .local-interest img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 10px var(--nav-link-color);
  }

  .joinForm {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
      "header header"
      "form table";
  }

  form label.sbs {
    padding: 0.4rem 0;
  }

  .memberLevels {
    height: 40%;
    position: sticky;
    top: 25%;
  }

  /* CSS for Discover Page */

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .list .company-info {
    flex-direction: row;
  }
  
  .list .company-info:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 10px var(--nav-link-color);
  }


}