@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Old+Standard+TT');

:root {
  --primary-color: #114B5F;
  --secondary-color: #1A936F;
  --accent1-color: #88D498;
  --accent2-color: #C6DABF;
  --accent3-color: #F3E9D2;

  --heading-font: 'Crimson Text', serif;
  --paragraph-font: 'Old Standard TT', sans-serif;


  --headline-color-on-white: #1A936F;  /* headlines on a white background */ 
  --headline-color-on-color: #C6DABF; /* headlines on a colored background */ 
  --paragraph-color-on-white: #1A936F; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #C6DABF; /* paragraph text on a colored background */ 
  --paragraph-background-color: #114B5F;
  --nav-link-color: #F3E9D2;
  --nav-background-color: #1A936F;
  --nav-hover-link-color: #114B5F ;
  --nav-hover-background-color: #C6DABF;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
  background-color: var(--primary-color);
}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999999;
}
.colors td{
  width: 20%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
.accent3{
  background-color: var(--accent3-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 70px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}